<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/mainpage.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function () {
      $("form").on("submit", function (event) {
        $.ajax({
          data: {
            velocity: $("#velocity").val(),
            angle: $("#angle").val(),
          },
          type: "POST",
          url: "/process",
        }).done(function (data) {
          if (data.error) {
            console.log('if');
            $("#error").text(data.error).show();
            $("#result").hide();
          } else {
            console.log('else');
            $("#h").text(data.h).show();
            $("#total_length").text(data.total_length).show();
            $("#total_time").text(data.total_time).show();
            $("#result").show();
            $("#error").hide();
          }
        });
        event.preventDefault();
      });
    });
    </script>
  </head>
  <body>
    <h1>trajectory calculator</h1>
    <div class="input">
      <form action="/" method="POST">
        <input
          type="number"
          min="0"
          name="velocity"
          id="velocity"
          placeholder="Velocity"
          required
        />
        <br />

        <input
          type="number"
          min="0"
          max="90"
          name="angle"
          id="angle"
          placeholder="Angle of launch"
          required
        />
        <br />
        <button type="submit" id="submit_button">send this result</button>
      </form>
    </div>
    <br />
    <div id="output">
      <table class="result" id="result" style="display: none;">
        <th colspan="2" style="background-color: rgb(119, 191, 219)">
          results
        </th>
        <tr>
          <td>Maximum Height</td>
          <td id="h"></td>
        </tr>

        <tr>
          <td>Horizontal Distance</td>
          <td id="total_length"></td>
        </tr>

        <tr>
          <td>Flight Duration</td>
          <td id="total_time"></td>
        </tr>
      </table>     
      <p id="error"></p>
      <br />
      <br />
      <br />
    </div>
    <div class="copyrights">© Copyright by yedidya rashi</div>
  
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='js/toggel_table.js') }}"
  ></script>
</html>
