<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/mainpage.css') }}"
    />
  </head>
  <body>
    <h1>trajectory calculator</h1>
    <div class="output">
      <form action="" method="GET">
        <!-- <label for="velocity">Velocity</label> -->
        <input type="text" name="velocity" id="velocity" placeholder="Velocity" />
        <br />
        <!-- <label for="angel">Angle of launch</label> -->
        <input type="text" name="angel" id="angel" placeholder="Angle of launch" />
        <button type="submit">send this result</button>
      </form>
    </div>
    <div class="input"></div>
    <div class="copyrights">Copyright by yedidya rashi</div>
  </body>
</html>
