h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 12px;
}
#output {
  height: 300px;
  justify-content: center;
  /* display: none; */
}

body {
  text-align: center;
  background-color: #f0fcd2;
}

input {
  width: 12%;
  padding: 12px;
  margin: 5px;
}

.input button {
  width: 20%;
  height: 40px;
  padding: 12px;
  background: hsl(180, 100%, 30%);
  border-radius: 25px;
  border-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media only screen and (max-width: 670px) {
  input {
    width: 100px;
  }
  .input button {
    width: 180px;
  }
}
.copyrights {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: aquamarine;
  color: black;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

table,
th,
td {
  border: 1px solid rgb(19, 66, 66);
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

#output p {
  font-size: 26px;
  font-weight: bold;
  font-family: Arial, Helvetica;
}
tr:hover {
  background-color: #ddd;
}
